/*******Background images*******/

body.home {
    background-image: url("../images/minimal-mountains-tops-3840x2400-wallpaper-18475.jpg");
}

body.about {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/la.webp');
}

body.contact {
    background-image: url("../images/contact.png");
}

body.projects {
    background: linear-gradient( rgba(0, 0, 0, .6), rgba(0, 0, 0, 1)), url('../images/projects.jpg');
}

body.home,
.contact,
.about,
.projects {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/****************NAVcl-effect****************/

.navContainer {
    text-align: center;
}

nav a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 2px 2px 2px #000000;
    font-size: 1.35em;
}

nav a:hover,
nav a:focus {
    outline: none;
    text-decoration: none;
    font-family: 'Rubik Mono One', sans-serif;
}

.cl-effect a {
    padding: 0 20px;
    height: 45px;
    line-height: 45px;
}

.cl-effect a::before,
.cl-effect a::after {
    position: absolute;
    width: 45px;
    height: 2px;
    background: #fff;
    content: '';
    opacity: 0.2;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
}

.cl-effect a::before {
    top: 0;
    left: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
}

.cl-effect a::after {
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.cl-effect a:hover::before,
.cl-effect a:hover::after,
.cl-effect a:focus::before,
.cl-effect a:focus::after {
    opacity: 1;
}

.cl-effect a:hover::before,
.cl-effect a:focus::before {
    left: 50%;
    -webkit-transform: rotate(0deg) translateX(-50%);
    -moz-transform: rotate(0deg) translateX(-50%);
    transform: rotate(0deg) translateX(-50%);
}

.cl-effect a:hover::after,
.cl-effect a:focus::after {
    right: 50%;
    -webkit-transform: rotate(0deg) translateX(50%);
    -moz-transform: rotate(0deg) translateX(50%);
    transform: rotate(0deg) translateX(50%);
}


/***********************************-*/


/******MAIN_CONTENT*****/

#main-page {
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
    color: #e3e3dc;
    padding-top: 320px;
}

.main-content {
    margin-top: 50px;
}

h3,
h2 {
    font-family: 'Rubik Mono One', sans-serif;
}


/*****About*****/


/****Contact****/

form {
    width: 35%;
    margin: 60px auto;
    padding: 60px 120px 100px 120px;
    text-align: center;
}

label {
    display: block;
    position: relative;
    margin: 40px 0px;
}

.label-txt {
    position: absolute;
    top: -1.6em;
    padding: 10px;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    transition: ease .3s;
}

.input {
    width: 100%;
    padding: 19px;
    background: transparent;
    border: none;
    outline: none;
}

.line-box {
    position: relative;
    width: 100%;
    height: 2px;
}

.line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #4caf50;
    transition: ease .6s;
}

.input:focus+.line-box .line {
    width: 100%;
}

.label-active {
    top: -3em;
}


/****Portfolio****/